<link rel="stylesheet" href="/css/chat.css">

<h2>Chat with <%= receiver.fullName %></h2>

<div id="chatBox">

<% messages.forEach(msg => { %>

    <% if(msg.sender.toString() === currentUser._id.toString()){ %>

        <div class="sent">
            <%= msg.text %>
        </div>

    <% } else { %>

        <div class="received">
            <%= msg.text %>
        </div>

    <% } %>

<% }) %>

</div>


<input type="text" id="messageInput">
<button onclick="sendMessage()">Send</button>

<script src="/socket.io/socket.io.js"></script>

<script>

    const socket = io();

    const myId = "<%= currentUser._id %>";
    const receiverId = "<%= receiver._id %>";

    socket.emit("join", myId);

    function sendMessage(){

        const text = document.getElementById("messageInput").value;
        socket.emit("sendMessage", {

            sender: myId,
            receiver: receiverId,
            text: text

        });
        document.getElementById("messageInput").value = "";

    }


    socket.on("receiveMessage", (msg) => {

        const chatBox = document.getElementById("chatBox");
        const div = document.createElement("div");

        if(msg.sender.toString() === myId){
            div.className = "sent";
        }
        else{
            div.className = "received";
        }

        div.innerText = msg.text;
        chatBox.appendChild(div);

    });

</script>