<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog</title>
     <style>
      .blog-cover {
        width: 100%;
        max-width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        }
        .author-name {
        font-size: 22px;   
        font-weight: 600;  
        margin-left: 10px; 
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <h1><%= blog.title %></h1>
      <img src="<%= blog.coverImageURL %>" width="400px "  />

      <p class="mt-3"><%= blog.body %></p>
    </div>

    <div class="container mt-4 ">
      <img class="blog-cover" src="<%= blog.createdBy.profileImageURL %>"  /> 
      <span class="author-name">
        <%=blog.createdBy.fullName %>
      </span>
      
    </div>

    <div class="container mt-4">
      <a href="/chat/<%= blog.createdBy._id %>">
        Chat with Owner
      </a>
    </div>

    <div class="container mt-4">
      <a > PRICE IS :
        <%= blog.price != null ? blog.price : "We can discuss in chat" %>
      </a>
    </div>

    <div class="container mt-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
      <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="mb-3">
          <input
            type="text"
            name="content"
            class="form-control"
            placeholder="Enter your comment"
          />
          <button class="btn btn-sm btn-primary" type="submit">Add</button>
        </div>
      </form>

      <% } %>
      <div class="mt-3">
        <% comments.forEach(comment => { %>
        <div>
          <img src="<%= comment.createdBy.profileImageURL %>" width="50px" />
          <%= comment.createdBy.fullName %>
          <pre><%= comment.content %></pre>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>